/* RESET & GLOBAL */
*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TITLE */
.main-title {
    text-align: center;
    color: white;
    background-color: aqua;
    padding: 10px;
    width: 100%;
}

/* LAYOUT */
.main-style {
    display: flex;
    justify-content: space-around;
}

.main-content {
    flex: 1;
    padding: 12px;
}

/* IMAGE */
.container-content {
    text-align: center;
    padding: 12px;
}

.img-content {
    border-radius: 8px;
    width: 50%;
    height: auto;
}

/* FORM */
.main-form {
	margin-top: 20px;
    border-radius: 8px;
    background-color: azure;
    padding: 12px;
}

form > div {
    margin-bottom: 16px;
}

form {
    background-color: aliceblue;
    padding: 12px;
    border-radius: 8px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    border: 3px solid #ccc;
    outline: none;
}

input[type=number]:focus {
    border-color: #555;
}

/* BUTTON */
.button {
    height: 36px;
    padding: 0 16px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.submit,
.download,
.consultation,
.registration {
    background-color: silver;
    border: 1px solid silver;
    color: white;
}

.reset {
    background-color: white;
    border: 1px solid white;
    color: black;
}

.result-section {
    background-color: aliceblue;
    border: 10px solid azure;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    line-height: 1.6;
}

.result {
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
}

.promotion {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: seashell;
    padding: 10px;
    border-radius: 7px;
    margin-top: 20px;
}

.button-content {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 30px;
	flex-wrap: wrap;
}

a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
	text-decoration: none;
}

.button-img {
    width: 140px;
    height: auto;
    border-radius: 10px;
}

.button-img2 {
    width: 60px;
    height: auto;
    border-radius: 10px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

article {
    margin-bottom: 20px;   /* ⬅️ jarak ke form */
}

article p {
    margin-bottom: 10px;
	text-align: justify;
    line-height: 1.6;      /* ⬅️ bikin teks lebih lega */
}



/* RESPONSIVE */
@media (max-width: 768px) {
    .main-style {
        flex-direction: column;
    }

    .img-content {
        width: 80%;
    }
}
